<div id="home">
  <div id="headline">
    <h1 translate>HOME.TITLE</h1>
    <h4 translate>HOME.SUBTITLE</h4>

    <a class="button" href="lois.html">
      <span translate>HOME.EXPLORE_LEGISLATION</span> *
    </a>
    <p>
    * <span translate>HOME.EXPLORE_LEGISLATION_OUT_OF</span>
  </p>
  </div>

  <div id="homelinks">
   <div class="laws">
    <h5 translate>HOME.RECENT_DEBATES</h5>
    <ul>
      <li>
        <a href="articles.html?loi=ppl13-007">
          <h2 translate>CATEGORIES.ECONOMIC</h2>
          <!-- TODO: Figure out how to transform '518' to <span class="number">518</span> -->
          {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 518 }' }}
        </a>
      </li>
      <li>
        <a href="articles.html?loi=pjl13-257">
          <h2 translate>CATEGORIES.GEOLOCATION</h2>
          {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 115 }' }}
        </a>
      </li>
      <li>
        <a href="articles.html?loi=ppl12-866">
          <h2 translate>CATEGORIES.COUNTERFEIT</h2>
          {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 190 }' }}
        </a>
      </li>
    </ul>
    
    <p><a href="lois.html" translate>HOME.EXPLORE_RECENT_LEGISLATION</a></p>
   </div>

   <div class="laws">
    <h5 translate>HOME.EXPLORE_MOST_AMENDED</h5>
    <ul>
      <li>
       <a href="articles.html?loi=pjl12-349">
          <h2 translate>CATEGORIES.SAME_SEX_MARRIAGE</h2>
         {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 9201 }' }}
        </a>
      </li>
      <li>
        <a href="articles.html?loi=pjl09-060">
          <h2 translate>CATEGORIES.LOCAL_COUNCILS</h2>
          {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 2122 }' }}
        </a>
      </li>
      <li>
        <a href="articles.html?loi=pjl12-166">
          <h2 translate>CATEGORIES.ELECTIONS</h2>
          {{ 'HOME.NUM_AMENDMENTS' | translate : '{ number: 2043 }' }}
        </a>
      </li>
    </ul>
    <p><a href="lois.html?action=quanti" translate>HOME.EXPLORE_MOST_AMENDED_LEGISLATION</a></p>
   </div>

   <div style="clear:both"></div>

   
  </div>

  <div class="disclaimer">
    <div class="row">

        <div class="col-md-6">
          <h3 translate>HOME.EXAMPLE.TIMELINE.TITLE</h3>
	  <h4>&nbsp;</h4>
          <div class="content">
	    <p translate>HOME.EXAMPLE.TIMELINE.DESCRIPTION</p>
          </div>  
        </div>

        <div class="col-md-6">
          <div class="cover">
            <img src="img/screenshot/mod0.jpg">
          </div>
        </div>

    </div>
  </div>

  <div class="disclaimer section-b">
    <div class="row">
      <div class="col-md-6">
        <div class="cover">
          <img src="img/screenshot/mod1.jpg">
        </div>
      </div>
      <div class="col-md-6">
        <h3 translate>HOME.EXAMPLE.CHANGES.TITLE</h3>
        <h4>&nbsp;</h4>
        <div class="content">
	  <p translate>HOME.EXAMPLE.CHANGES.DESCRIPTION</p>
        </div>  
      </div>
    </div>
  </div>

  <div class="disclaimer">
    <div class="row">
      <div class="col-md-6">
        <h3 translate>HOME.EXAMPLE.COMPARE.TITLE</h3>
        <h4>&nbsp;</h4>
        <div class="content">
	  <p translate>HOME.EXAMPLE.COMPARE.DESCRIPTION</p>
        </div>  
      </div>
      <div class="col-md-6">
        <div class="cover">
          <img src="img/screenshot/mod2.jpg">
        </div>
      </div>
    </div>
  </div>
  

  <div class="disclaimer section-b">
    <div class="row">
      <div class="col-md-6">
        <div class="cover">
          <img src="img/screenshot/mod2b.jpg">
        </div>
      </div>
      <div class="col-md-6">
        <h3 translate>HOME.EXAMPLE.INTERVENTIONS.TITLE</h3>
        <h4>&nbsp;</h4>
        <div class="content">
	  <p translate>HOME.EXAMPLE.INTERVENTIONS.DESCRIPTION</p>
        </div>  
      </div>
    </div>
  </div>

</div>
